.header{
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    right:0;
    left: 0;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(228,228,228);
    z-index: 100;

}

.left-section{
    display:flex;
    align-items:center;
    margin-left: 20px;
    margin-right: 20px;
}

.middle-section{
    flex:1;
    display:flex;
    align-items:center;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;

}

.right-section{
    width: 180px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
    margin-right: 24px;
    flex-shrink: 0;
}

.hamburger{
    height: 24px;
    margin-left:3px;
    margin-right: 24px;
}

.youtube-logo{
    height: 20px;
}

.search-button{
   height: 39px;
   width:66px;
   border-width:1px;
   border-style: solid;
   border-color:#cccccc;
   background-color: rgb(240,240,240);
   box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
   margin-left:-1px;


}

.search-button .tool-tip,
.voice-search-button .tool-tip,
.upl .tool-tip,
.yap .tool-tip,
.notf .tool-tip{
  font-family: roboto,arial;
  position:absolute;
  background-color: gray;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top:7px ;
  color: white;
  border-radius: 2px;
  font-size: 12px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space:nowrap;

}

.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip,
.upl:hover .tool-tip,
.yap:hover .tool-tip,
.notf:hover .tool-tip{
  opacity: 1;
}


.search-button , .voice-search-button,.upl,.yap,.notf{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up , .ya , .notf , .prop{
  display: flex;
  justify-content: center;
  align-items: center;
}




.voice-search-button{
    height:39px;
    width:40px;
    border-radius: 20px;
    border:none;
    background-color: rgb(245,245,245);
    margin-left:10px
}

.search-icon{
    height: 25px;
    display: flex;
    
}

.voice-icon{
    height: 24px;
   
}


.searchbox{
    flex:1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width:1px;
    border-style: solid;
    border-color:#cccccc;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width: 0;
}

.searchbox::placeholder{
    font-family: Roboto,arial;
    font-size: 16px;
}
  

.right-section{
    border: none;
    padding:0;
    margin-top: 4px;
    background-color: rgb(255,255,255);
  }


  .pp{
    height:32px;
    width:100%;
    border:none;
    border-radius: 20px;
    display: flex;
  }



  .up{
    height:24px;
  }


  .ya{      
    height:24px;
  }



  .not{
    height:24px;
  }

  .notf{
  
  }
  
  .not-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: #cc0000;
    font-family: Roboto,arial;
    font-size: 11px;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:5px;
    padding-right:5px;
    color: white;
    border-radius: 10px;
  }



