

    .Thumbnail{
    width: 100%;  
    }


    .videotitle{
   cursor: pointer;
   color: rgb(0, 0, 0);
   margin-top: 0px;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   margin-bottom:10px;
   width: 100%;
    }

    .videoauthor,.videostats{
   font-size: 12px;
   color:rgb(96,96,96);
   margin-bottom :15px; 
    }

    .videoauthor{
   margin-bottom:6px;
    } 

    
   .video-preview{
    }

    .channel{
   border-radius: 35px;
   width: 36px;
    }


    
    .channel-info{
    
    } 

    .thumbrow{
      margin-bottom: 8px;
      position: relative;
      cursor: pointer;
    }

    .video-info-grid{
      display: grid;
      grid-template-columns: 50px 1fr;
      cursor: pointer;         
    }


    .video-grid{
       display:grid;
       grid-template-columns:1fr 1fr 1fr;
       column-gap:15px;
       row-gap:40px;
    }

    @media(max-width:750px){
      .video-grid{
        grid-template-columns: 1fr 1fr;
      }
    }

    @media(min-width:751px) and (max-width:999px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    @media(min-width:1000px){
      .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }


    .video-time{
      font-family: Roboto,arial;
      font-size: 12px;
      font-weight: 500;
      padding: 4px;
      border-radius: 2px;
      background-color: black;
      color:white;
      position:absolute;
      bottom: 8px;
      right: 5px;
   }

 .profile-tooltip{
      display: grid;
      grid-template-columns: 50px 170px;
      border-radius: 5px;
      position:absolute;
      opacity: 0;
      border-width: 2px;
      border-color:rgb(240, 240, 240);
      border-style: solid;
      padding: 10px;
      background-color: white;
      pointer-events: none;
   }

   .Mark,.plier,.snipe, .CSDojo, .Ted, .DT,
   .BI, .Thenx,.Techvision, .RL,.MRbeast{
    position: relative;
   }

   
   .tooltip-info {
    font-family: Roboto,arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding:5px;
    color:black;
    margin-top: 1px;
    margin-bottom: 1px;
   }
   
   
   .creator{
    padding: 7px;
   }
   .cont{
    padding-left: 4px;
    color: rgb(160,160,160);
   }

   .thumb-tooltip{
    margin-top: 5px;
   }

   .hchannel{
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
    padding-left: -4px;
   }

   .Mark:hover .profile-tooltip,
   .plier:hover .profile-tooltip,
   .snipe:hover .profile-tooltip,
   .veritasium:hover .profile-tooltip,
   .CSDojo:hover .profile-tooltip,
   .MRbeast:hover .profile-tooltip,
   .RL:hover .profile-tooltip,
   .Techvision:hover .profile-tooltip,
   .Thenx:hover .profile-tooltip,
   .BI:hover .profile-tooltip,
   .DT:hover .profile-tooltip,
   .Ted:hover .profile-tooltip{
    opacity: 1;
    transition:opacity 0.15s
   }
   

    


